@import '../../styles/variables';
@import '../../styles/breakpoints';

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out; // Animação suave para aparecer/desaparecer

    padding: 1em 0;
    width: 100%;
    display: flex;
    justify-content: center; // Centraliza o container
}

.container {
    width: 90%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.headerVisible {
    transform: translateY(0); // Totalmente visível
}

.headerHidden {
    transform: translateY(-100%); // Escondido fora da tela
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    &__link {
        transition: transform 0.4s ease;
        border-radius: 10px;
        width: 50px;
        height: 50px;
        box-shadow: -1px 2px 2px rgba(0, 0, 0, .8);

        &:hover {
            transform: scale(1.1);
            box-shadow: -1px 2px 10px rgba(0, 0, 0, .6);
        }

        &:focus {
            transform: scale(1.1);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, .6);
        }

    }

    &__img {
        width: 50px;
        height: 50px;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-gray;
    border-radius: 25px;
    border: 1px solid rgba(244, 244, 245, 0.1);
    padding: .8em 2em;

    &__list {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 24px;

        &__item {
            color: $text-titles-dark;
            font-size: .9em;

            &:hover {
                color: $link-hover;
                cursor: pointer;
            }
        }
    }
}