// dark mode

$dark-black: rgba(24, 24, 27, 1);
$dark-gray: rgb(20, 32, 41);

$text-titles-dark: rgba(244, 244, 245, 1);
$text-body-dark: rgba(161, 161, 170, 1);
$text-menu-dark: rgba(244, 244, 245, 1);

$text-complements: rgb(5, 96, 124);
$card-hover: rgba(34, 34, 39, 0.1);
$link-hover: rgb(193, 224, 236);
$link-active: rgba(119, 197, 252, 1);

// light mode