@import "../../styles/variables";

.footer {
    background-color: black;
    font-size: .8em;
    color: $base-color-eletric;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        padding: 1rem 2rem;
    }
}