@use "../styles/variables" as var;
@use "../styles/breakpoints" as bp;

.contact {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1440px;
    padding: 8em 0 2em;
    gap: 2rem;

    @media (max-width: bp.$tablet) {
        gap: 2rem;
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 50%;

        @media (max-width: bp.$desktop_sm) {
            max-width: 100%;
        }

        &__title {
            font-size: var.$title;
            line-height: 50px;
            font-weight: 900;
            letter-spacing: -.015em;
            color: var.$text-titles-dark;
            text-shadow: -2px 3px 0px rgba(0, 0, 0, .9);

            @media (max-width: bp.$desktop_sm) {
                font-size: 2em;
                line-height: 40px;
            }
        }

        &__description {
            font-size: var.$textBody;
            line-height: 1.5em;
            color: var.$text-body-dark;

            @media (max-width: bp.$desktop_sm) {
                font-size: var.$textBody;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 30%;

        @media (max-width: bp.$desktop_sm) {
            max-width: 100%;
        }
    }
}