@import '../../../styles/variables';
@import '../../../styles/breakpoints';

.navbar {
  display: flex;
  justify-content: center;
  margin-right: 1em;

  @media (min-width: $desktop_sm) {
    margin-right: 8em;
  }
}

.menu {
  display: flex;
  background: $menu-dark-bg;
  padding: .5em 1em;
  border-radius: 25px;
  border: 1px solid rgba(17, 217, 160, .4);
  list-style: none;
  gap: 24px;

  @media (max-width: $desktop_sm) {
    padding: 0;
  }

  &__item {
    display: block;

    @media (max-width: $desktop_sm) {
      display: none;
    }
  }
}

.link {
  position: relative;
  text-decoration: none;
  color: $text-menu-dark;
  transition: color 0.3s ease;

  &:hover,
  &.active {
    color: $base-color-eletric;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0%;
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 106, 0, 0) 0%,
        $base-color-eletric 50%,
        rgba(255, 106, 0, 0) 100%);
    border-radius: 5px;
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }

  &:hover::after,
  &.active::after {
    width: 100%; // Aparece ao passar o mouse ou estar ativo
  }
}

.mobileMenuToggle {
  display: none;
  cursor: pointer;
  font-size: 1em;
  color: $text-menu-dark;

  @media (max-width: $desktop_sm) {
    display: block;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    padding: .5em 1em;

    &:hover {
      color: $link-hover; // Muda a cor ao passar o mouse
    }
  }
}

.menuOpenArrow {
  display: flex;
  align-items: center;
  color: $text-menu-dark;
  font-size: 1.2em;
  font-weight: 500;
  gap: 8px;

  &__icon {
    color: $text-menu-dark;
    font-size: 1.5em;
  }
}

// Aqui começa o menu mobile

.overlay {
  visibility: hidden; // Invisível por padrão
  opacity: 0; // Transparente por padrão
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); // Escurece o fundo com opacidade
  backdrop-filter: blur(3px); // Aplica o desfoque ao fundo
  z-index: 9998; // Um nível abaixo do menu mobile
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; // Animação suave
}

.overlayActive {
  visibility: visible; // Visível quando ativo
  opacity: 1; // Opaco quando ativo
}

.mobileNavMenu {
  visibility: hidden; // Invisível por padrão
  opacity: 0; // Transparente por padrão
  position: fixed;
  top: 45%;
  right: 7.5%;
  width: 85%;
  padding: 2em;
  background-color: rgba(20, 32, 41, 0.9);
  border-radius: 25px;
  z-index: 9999; // Acima do overlay
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); // Sombra para destacar o menu
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; // Animação suave

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
  }

  &__close {
    display: flex;
    flex-direction: row;
    justify-content: end;

    &__button {
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: rgba(27, 43, 55, 1);
      border: 1px solid rgba(17, 217, 160, .4); // Borda do botão
      border-radius: 8px; // Bordas arredondadas
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); // Sombra para destacar o botão
      padding: 0.5em 0.5em;
      color: $text-menu-dark;
      font-size: 1em;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 2em;

    .link {
      font-size: 1.2em;
      font-weight: 500;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4em;

    p {
      color: $base-color-eletric;
      font-size: .8em;
      font-style: italic;
      font-weight: 300;
      opacity: .6;
    }
  }
}

.visible {
  visibility: visible; // Visível quando ativo
  opacity: 1; // Opaco quando ativo
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $dark-black;

  &__link {
    transition: transform 0.4s ease;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    box-shadow: -1px 2px 2px rgba(0, 0, 0, .8);

    &:hover {
      transform: scale(1.1);
      box-shadow: -1px 2px 10px rgba(0, 0, 0, .6);
    }

    &:focus {
      transform: scale(1.1);
      box-shadow: 0px 0px 0px rgba(0, 0, 0, .6);
    }

  }

  &__img {
    width: 50px;
    height: 50px;
  }
}