@use '../../../styles/variables' as var;
@use '../../../styles/breakpoints' as bp;

.nextPrev {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 1px solid rgba(229, 229, 229, .3);
}

.prev,
.next {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    text-decoration: none;
}

.prev {
    text-align: left;
    color: var.$text-body-dark;

    &:hover {
        color: var.$base-color-eletric;

        .prev__label {
            &__arrow {
                animation: jump-left 700ms cubic-bezier(0.2, 0.8, 0.2, 1) infinite;
                color: var.$base-color-eletric;
            }
        }
    }

    .prev__label {
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        text-transform: uppercase;
        opacity: 0.6;

        &__arrow {
            margin-right: 0.5rem;
        }
    }
}

.next {
    text-align: right;
    margin-left: auto;
    color: var.$text-body-dark;

    &:hover {
        color: var.$base-color-eletric;

        .next__label {
            &__arrow {
                animation: jump-right 700ms cubic-bezier(0.2, 0.8, 0.2, 1) infinite;
                color: var.$base-color-eletric;
            }
        }
    }

    .next__label {
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        text-transform: uppercase;
        opacity: 0.6;

        &__arrow {
            margin-left: 0.5rem;
        }
    }
}


.title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 0.5rem;
    color: var.$text-titles-dark;
}


/* keyframes para o pulo à esquerda */
@keyframes jump-left {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-0.35rem);
    }

    50% {
        transform: translateX(-0.35rem);
    }

    75% {
        transform: translateX(-0.35rem);
    }

    100% {
        transform: translateX(0);
    }
}

/* keyframes para o pulo à direita */
@keyframes jump-right {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0.35rem);
    }

    50% {
        transform: translateX(0.35rem);
    }

    75% {
        transform: translateX(0.35rem);
    }

    100% {
        transform: translateX(0);
    }
}