@import '../app/styles/breakpoints';
@import '../app/styles/variables';

%baseSection {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1440px;
}

.sectionHero {
    @extend %baseSection;
    padding: 8em 0 2em;
}

.sectionCards,
.sectionCta {
    @extend %baseSection;
    padding: 2em 0 0;
}

.sectionAbout,
.sectionRecents {
    @extend %baseSection;
    padding: 2em 0;
}