@import '../app/styles/variables';
@import '../app/styles/breakpoints';

%baseSection {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1440px;
}

.sectionHero {
    @extend %baseSection;
    align-items: center;
    justify-content: center;
    padding: 9em 0 4em;
}

.sectionCards,
.sectionCta {
    @extend %baseSection;
    padding: 2em 0 0;
}

.sectionAbout,
.sectionRecents {
    @extend %baseSection;
    padding: 2em 0;
}