@import '../app/styles/variables';

.sectionHero {
    background-image: url('/assets/background-hero.webp');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9em 0 4em;
    width: 100%;
    max-width: 1440px;
}

.sectionCards {
    display: flex;
    flex-direction: column;
    padding: 2em 0 0;
    width: 90%;
    max-width: 1440px;
}

.sectionCta {
    display: flex;
    flex-direction: column;
    padding: 2em 0 0;
    width: 90%;
    max-width: 1440px;
}

.sectionAbout {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    width: 90%;
    max-width: 1440px;
}

.sectionRecents {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    width: 90%;
    max-width: 1440px;
}