@use "../../../styles/variables" as var;
@use "../../../styles/breakpoints" as bp;

.heroContainer {
    display: flex;
    flex-direction: column;
    width: 60%;

    @media (max-width: bp.$desktop_sm) {
        width: 100%;
    }

    &__title {
        font-size: var.$title;
        line-height: 50px;
        font-weight: 900;
        letter-spacing: -.015em;
        color: var.$text-titles-dark;
        text-shadow: -2px 3px 0px rgba(0, 0, 0, .9);

        @media (max-width: bp.$desktop_sm) {
            font-size: 2em;
            line-height: 40px;
        }
    }

    &__description {
        font-size: var.$textBody;
        line-height: 1.5em;
        color: var.$text-body-dark;
        margin-top: 1em;

        @media (max-width: bp.$desktop_sm) {
            padding: 0 0%;
        }
    }
}