@import "../../styles/variables";
@import "../../styles/breakpoints";

.aboutSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;

    &__figure {
        grid-column: 1 / span 1;
        grid-row: 1;
        display: flex;
        justify-content: flex-end;

        @media (max-width: $tablet) {
            justify-content: center;
        }

        & img {
            height: auto;
            object-fit: cover;
            position: relative;
            z-index: 1;
        }
    }

    &__content {
        grid-column: 2 / span 1;
        grid-row: 1;

        @media (max-width: $tablet) {
            grid-column: 1 / span 2;
            grid-row: 2;
        }

        &__title {
            font-size: 1.5em;
            font-weight: 900;
            letter-spacing: -.015em;
            color: $text-titles-dark;
            text-shadow: -1px 2px 0px rgba(0, 0, 0, .9);
            margin-bottom: .5em;
        }

        &__description {
            font-size: 1em;
            line-height: 1.75em;
            color: $text-body-dark;
            margin-top: 1em;
            margin-bottom: .5em;
        }
    }
}