@import "../../styles/variables";
@import "../../styles/breakpoints";

.hero {
    display: flex;
    flex-direction: column;

    &__content {
        width: 60%;

        @media (max-width: $desktop_sm) {
            width: 100%;
        }
    }

    &__title {
        font-size: $title;
        line-height: 50px;
        font-weight: 900;
        letter-spacing: -.015em;
        color: $text-titles-dark;
        text-shadow: -2px 3px 0px rgba(0, 0, 0, .9);

        @media (max-width: $desktop_sm) {
            font-size: 2em;
            line-height: 40px;
        }
    }

    &__description {
        font-size: $textBody;
        line-height: 1.5em;
        color: $text-body-dark;
        margin-top: 1em;

        @media (max-width: $desktop_sm) {
            padding: 0 0%;
        }
    }
}

.socialmediaContainer {
    display: flex;
    color: $text-body-dark;
    margin-top: 1em;
    gap: 1.5em;

    @media (max-width: $desktop_sm) {
        gap: 1.5em;
        padding: 0 0%;
    }

    &__link {
        display: flex;
        align-items: center;
        color: $text-body-dark;
        transition: all .3s ease-in-out;

        svg {
            width: 1.5em;
            height: 1.5em;
        }

        &:hover {
            background-color: $card-hover;
            color: $base-color-eletric;
            transform: scale(1.1);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, .8);
            border-radius: 8px;
        }
    }
}