@import "../../styles/variables";
@import "../../styles/breakpoints";

.recentsSection {
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 1.5em;
        font-weight: 900;
        letter-spacing: -.015em;
        color: $text-titles-dark;
        text-shadow: -1px 2px 0px rgba(0, 0, 0, .9);
        margin-bottom: .5em;
    }

    &__description {
        font-size: 1em;
        line-height: 1.75em;
        color: $text-body-dark;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 75%;
        padding: 2rem 0;

        @media (max-width: $tablet) {
            width: 100%;
            gap: 2rem;
        }
    }

}