@import "../../styles/variables";
@import "../../styles/breakpoints";

.recentsSection {
    display: flex;
    flex-direction: column;

    &__title {
        font-size: $subtitle;
        font-weight: 900;
        letter-spacing: -.015em;
        color: $text-titles-dark;
        text-shadow: -1px 2px 0px rgba(0, 0, 0, .9);
        margin-bottom: .5em;
    }

    &__description {
        font-size: $textBody;
        line-height: 1.5em;
        color: $text-body-dark;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 75%;
        padding: 2rem 0;

        @media (max-width: $tablet) {
            width: 100%;
            gap: 2rem;
        }
    }

    &__link {
        display: flex;
        background: #2d3d5e49;
        border: 1px solid rgba(255, 255, 255, .1);
        border-radius: 4px;
        transition: all 0.3s ease;
        padding: 1em 2em;
        text-decoration: none;

        @media (max-width: $tablet) {
            padding: 2em 1em 2em 1em;
        }

        &:hover {
            transform: translateY(-5px);
            background: $card-hover;
            border: 1px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
        }

        &__item {
            display: flex;
            flex-direction: row;
            width: 100%;

            @media (max-width: $tablet) {
                flex-direction: column;
            }

            &__imageContainer {
                width: 25%;

                @media (max-width: $tablet) {
                    width: 75%;
                }

                &__image {
                    width: 100%;
                    height: auto;
                    border-radius: 4px;
                    object-fit: cover;
                }
            }

            &__contentContainer {
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: 0.5rem;

                @media (max-width: $tablet) {
                    width: 100%;
                    padding: 0;
                    margin-top: 1em;
                }

                &__title {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: $text-titles-dark;
                    margin-bottom: 0.5em;
                    line-height: 1.2;
                }

                &__authorDate {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;

                    &__author {
                        font-size: 0.8rem;
                        font-style: italic;
                        color: $text-body-dark;
                    }

                    span {
                        font-size: 0.8rem;
                        font-style: italic;
                        color: $text-body-dark;
                    }

                    &__date {
                        font-size: 0.7rem;
                        font-style: italic;
                        color: $text-body-dark;
                    }
                }

                &__text {
                    font-size: $textBody;
                    color: $text-body-dark;
                    line-height: 1.6;

                    @media (max-width: $tablet) {
                        font-size: 1.2rem;
                    }
                }

                &__tags {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;

                    &__tag {
                        padding: 0.25rem 0.75rem;
                        border-radius: 20px;
                        background: rgba(255, 255, 255, 0.1);
                        color: $base-color-eletric;
                        font-weight: 400;
                        font-family: monospace;
                    }
                }
            }
        }
    }
}